@import "./css/reset.css";
@import "./css/vars.css";
@import "./css/header.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Georgia;
  /* [TODOLABO]: maak gebruik van de --margin variabele */
  padding: calc((2rem * 2) + 2vw); /* [TODOLABO]: fyi, dit is een voorbeeld van reduced calc test: bekijk output in gebundelde CSS */
  /* [TODOLABO]: maak gebruik van de backgroundColor variabele */
  background-color: #eaeae9;
  /* [TODOLABO]: maak gebruik van de textColor variabele */
  color: #463636;
}

/** Dit is hier wat commentaar, dat er uit moet in production**/

p {
  line-height: calc(1.8);
}

strong {
  font-weight: bold;

  @nest p & {
    /** [TODOLABO]: enkel om @nest  voorbeeld aan te halen, je hoeft niets aan te passen **/
    color: darkorange;
  }
}

.nadar-img {
  filter: grayscale(100%);
  margin: 1rem auto;
  display: block;
  width: 50vw;
}

.nadar-img:hover {
  filter: none;
}
/** [TODOLABO]: maak gebruik van &:hover in .nadar-img (nesting) ipv .nadar-img:hover */

footer {
  background-image: url("assets/img/nadar.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 10vw;
  height: 7rem;
}

.hide {
  display: none;
}

/** [TODOLABO]: maak gebruik van nieuwe media query syntax */
@media screen and (min-width: 500px) {
  h1 {
    font-size: 6vw;
  }
}
